body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  color: #777;
  line-height: 34px;
  background: url("../images/background.png");
  background-repeat: repeat;
   background-attachment: fixed;

  overflow: scroll;
}


h1,
h2,
h3,
p {
  margin-bottom: 20px;
}



h1,
h2,
h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  font-weight: 700;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
}

h2,
h3 {
  font-size: 22px;
}


/*header*/

.navbar {
  z-index: 99;
  margin-bottom: 0;
  overflow: auto;
  width: 100%;
  color: #fff;
  background: #fff;
  border-bottom: 2px solid #ccc;
}

.navbar-text {
  width: 250px;
  height: 90px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  line-height: 90px;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  background: #4aaaa5;
}

.nav {
  margin-top: 25px;
}

.navbar-default .navbar-text {
  color: white;
  padding: 10px;
  margin: 0;
}

nav a {
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

.page-header {
  border-bottom: none;
  padding: auto;
  margin: auto;
}

.panel-default>.panel-heading {
  background: none;
  border-bottom: none;

}



/*footer*/

.footer {
  color: #fff;
  color: #ccc;
  font-size: 12px;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
  width: 100%;
}


/*sidebar*/

.sidebar {
  background: #fff;
  border: 1px solid #ddd;
  margin-right: 10%;
  margin-top: 10%;
}

h3,
.sidebar h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;

  line-height: 22px;
  border-bottom: 2px solid #eee;
}

.social {
  height: 62px;
 margin: 3%;
}

.social:last-child {
  margin-right: 0;
}


/*main*/

.main-section {
  background: #fff;
  border: 1px solid #ddd;
  margin-left: 10%;
  margin-bottom: 10%;
  margin-top: 5%;
  overflow: scroll;
}


/*portfolio page*/

.work {
  position: relative;
  width: 274px;
  overflow: auto;
  float: left;
  margin: 20px 0 25px;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: .8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  margin-bottom: 0;
  padding: 15px;
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-weight: 300;
  background: #4aaaa5;
  border-bottom: 0;
}

.auth-image {
  width: 95%;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
  float: left;
}


/*contact page*/

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}
